{
  "extends": ["wesbos"],
  "rules": {
    // ... any eslint rules here
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "react/jsx-no-constructed-context-values": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "default-param-last": 0,
    
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto",
        "tabWidth": 4
      },
    ],
  }
}