.todo__card {
  // height: 350px;
  background: #9fd3c7;
  border: 1px solid #385170;
}

.todo__card__wrapper {
  display: flex;
  padding: 10px 20px;
}

.todo__card__title {

}

.todo__card__description {

}

.todo__card__categories {

}
